.headerContainer{

}
.loginHeader{
    margin-left: 50%;
    transform: translateX(-50%);
    background: url('./../../../../public/images/devops.png') no-repeat;
    background-size: contain;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-position: center;
}
.loginHeader img{

}
