
.container{
    background-color: ghostwhite;
    width: 5rem;
    height: 4rem;
    margin-left: 50%;
    margin-top: 35%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 0.02rem solid red;
    border-radius: 0.5rem;
    padding: 0.5rem;

}
.container input{
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.02rem solid blue;
    border-radius: 0.05rem;
    outline: none;

}
.container input:focus{
    border-color: dodgerblue;
    box-shadow: #28a745;
}

.container label{
    float: left;
    font-weight:900;
    margin-bottom: 0.15rem;
}

.login{
    text-align: center;
    width: 100%;
    color: #fff;
    height: 0.7rem;
    background-color: #28a745;
    border: 0;
    border-radius: 0.2rem;
    /*box-shadow: 2px 2px 5px #bbb;*/
    outline: none;
}
.login:hover{
    /*background-color: red;*/
}
.login:active{
    /*background-color: purple;*/
}
