.footer {
    background-color: #000;
    color: aliceblue;
    margin-top: 150px;
    height: 80px;
    text-align: center;
}

.bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    min-width: 1200px;
    background: #000;
}

.bottom-wraper {
    position: relative;
    line-height: 80px;
}