.container {
    background-color: ghostwhite;
    width: 280px;
    height: 230px;
    position: relative;
    left: calc(50% - 140px);
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;

}

.container input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    padding: 2px;

}

.container input:focus {
    border-color: dodgerblue;
}

.container label {
    float: left;
    color: #24292E;
    font-weight: 500;
    margin-bottom: 10px;
}

.login {
    text-align: center;
    width: 100%;
    color: #fff;
    height:40px ;
    background: #28a745;;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.login:hover {
    filter:hue-rotate(-10deg);
}

.login:active {
    filter:hue-rotate(-20deg);

}
.create-account{
    width: 280px;
    height: 50px;
    margin-top: 20px;
    padding: 0 20px;
    position: relative;
    left: calc(50% - 140px);
    text-align: center;
    border: 1px solid #d8dee2;
    line-height: 50px;
    border-radius: 5px;

}
.create-account a{
    color: #0366d6;
}
