.loginHeader{
    position: relative;
    left: calc(50% - 50px);
    background: url('./../../public/images/devops.png') no-repeat;
    background-size: contain;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-position: center;
}

