.loginHeader{
    position: relative;
    background: url('./../../public/images/devops.png') no-repeat;
    /*background: #000;*/
    background-size: contain;
    display: inline-block;
    height: 80px;
    width: 80px;
    left: calc(50% - 20px);

    /*background-position: center;*/
}

