
.normal {
  /*font-family: Georgia, sans-serif;*/
  /*text-align: center;*/
  max-width: 1920px;
  min-width: 1280px;
  /*overflow: hidden;*/
  margin: 0 auto;
}


.footer {
  background-color: #000;
  color: aliceblue;
  margin-top: 150px;
  text-align: center;
}


.bottom {
  position: relative;
  background: #000;
  line-height: 80px;
  color: aliceblue;
}
