.swiper {
    position: relative;
    width: auto;
    height: auto;
}

.swiper-main {
    margin-top: 30px;
}

.swiper-item {
    display: none;

}

.swiper-item-active {
    display: block;
}

.swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
}

.swiper-pagination-item {
    border-bottom: 1px #000 solid;
    width: 100px;
    height: 5px;
    margin: 10px;
}
.swiper-pagination-item-active{
    background-color: #000;
}